.about-section {
    padding: 30px 5%;
    margin: 0 auto;
    background-color: #1c1c1e;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.about-content img {
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
}

.about-content .text {
    max-width: 750px;
}

.about-content .text p {
    font-size: 1.1rem;
    line-height: 1.7;
    color: #a0a0a0;
    margin-bottom: 1.5rem;
}


@media (max-width: 768px) {
    .about-content .text p {
        font-size: 1rem;
    }
}
