.site-header {
    padding: 0.8rem 5%;
    width: 100%; /* Full width for background */
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #121212;
    box-sizing: border-box;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

/* ... other styles ... */

.logo {
    display: flex;
    align-items: center; /* Ensure vertical centering within the logo link */
    text-decoration: none;
}

.company-logo {
    max-height: 120px;
    width: 400px;
    vertical-align: middle; /* Fine-tune vertical alignment */
}

.main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-nav ul li {
    margin-left: 35px;
}

.main-nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.95rem;
    transition: color 0.3s ease;
}

.main-nav ul li a:hover {
    color: #9A6F09;
}

/* Responsive Design */
@media (max-width: 768px) {
    .site-header {
        padding: 1rem 5%;
    }
    .main-nav {
        flex-direction: column;
    }

    .main-nav ul {
        margin-top: 1.5rem;
        justify-content: center;
    }

    .main-nav ul li {
        margin: 0 15px;
    }
}
