.site-header {
    padding: 0.1rem 5%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #121212;
    box-sizing: border-box;
    height: 110px;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: 2rem;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.company-logo {
    width: 110px;
    height: 110px;
}

.main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    z-index: 1;
}

.main-nav ul li {
    margin-left: 35px;
}

.main-nav ul li a {
    color: #CCCCCC;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.95rem;
    transition: color 0.3s ease;
}

.main-nav ul li a:hover {
    color: #9A6F09;
}

@media (max-width: 768px) {
    .site-header {
        padding: 1rem 5%;
        height: auto;
    }
    .main-nav {
        flex-direction: column;
    }

    .main-nav ul {
        margin-top: 1.5rem;
        justify-content: center;
    }

    .main-nav ul li {
        margin: 0 15px;
    }

    .company-logo {
        width: 70px;
        height: 70px;
    }
}
