.site-header {
    padding: 0.8rem 5%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #121212;
    box-sizing: border-box;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: 2rem;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.company-logo {
    color: #ffffff;
    width: 100px;
    height: 100px;
}

.company-name {
    color: #CCCCCC;
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: -35px;
    line-height: 1;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-nav ul li {
    margin-left: 35px;
}

.main-nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.95rem;
    transition: color 0.3s ease;
}

.main-nav ul li a:hover {
    color: #9A6F09;
}

@media (max-width: 768px) {
    .site-header {
        padding: 1rem 5%;
    }
    .main-nav {
        flex-direction: column;
    }

    .main-nav ul {
        margin-top: 1.5rem;
        justify-content: center;
    }

    .main-nav ul li {
        margin: 0 15px;
    }
}
